*{
  transition: all 0.5s ease-in-out;
}
/*over ride for Bootstrap box sizing(Google maps?)*/
.selector-for-some-widget {
  box-sizing: content-box;
}
.test{
  border: 2px solid red;
}
.filtered-list-item:hover{
  box-shadow: inset 0 0 10px green;
}
.filtered-list-item:active{
  
}
.filtered-list-item{
  position: relative;
  width: 100%;
  height: 3em;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: inset 0 0 10px goldenrod;
  overflow-y: scroll;

}
.symbol-count-data{
  background: linear-gradient(70deg, blue, pink);
  position: absolute;
  right: 2px;
}

.text-center{
  text-align: center;
}

.big-quotes{
  font-size: 2em;
}

.disabled{
  position: relative;
}

.disabled:before{
  padding-top: 44px;
  font-size: 3em;
  color: rgba(111, 111, 111, 0.9);
  text-align: center;
  content: 'Please select a profile';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
/*  top: 0;
  left: 0;*/
  background: rgba(11, 11, 11, 0.8);


}

.big-red{
  transform: scale(2);
  background: red;
}

.selected{
  background: radial-gradient(
      #220309,
      #BCB3B5
    );
}

.selected .profile-item{
  font-size: 1.5em;
  background: rgba(244, 244, 244, 0.5);
}

.btn-small{
  font-size:10px;
  padding: 1px 5px 1px 5px; 
}


#background-img{
  background-image:url("../astrology-book.jpg");
}

textarea{
  height: 100px;

}

.full-width{
  width: 100%;
}

.not-set{
  /*margin-top: 5px;*/
  box-shadow: inset 0px 0px 35px 1px  indianred;
}

.is-set{
  /*margin-top: 5px;*/
  box-shadow: inset 0px 0px 35px 1px  lawngreen;
}

.cool-select{
  padding-top:5px;
}

.submit-button{
  position: static;
  right: 0;
  border: 0;
}

.delete-button{
  background: #ae0f2f;
}

.aspect-section{
  margin-bottom: 26px;
}

.data-section{
  opacity: 0;
}

.flex{
  display: flex;
}

.clickaction_open{
  cursor: pointer;
}

.clickaction_open:hover{
  text-shadow: 3px 3px 3px goldenrod;
}

div.output{
  max-height: 350px;
  overflow-y: scroll;
  width:100%;
  border: 3px solid #212529;
}


.table td, th{
   text-align: center;   
}
td input{
  width: 100%;
}

#search_symbols_input{
  width: 50%;
}

input[data-meta="name"]{
  margin-right: 10px;
  margin-left: 10px;
}

/*#IO{
  display: none;
}
*/
.hide{
  display: none;
}

#block-spinner{
  background-image: url("../block-spinner.gif");
  background-size: 100px 100px; 
/*  display: none;
  position: absolute;
  top: 29%;
  left: 75%;*/
  height: 100px;
  width: 100px;
}

nav label{
  color: white;
}

table tr:nth-child(even){
  background: rgb(222, 222, 222);
}

th{
  background: rgb(222, 222, 222);

}

.btn-big{
  padding: 1px 5px 1px 5px;
  font-size: 30px;
}


/* SABIAN_SYMBOLS styles */

[data-sabian-profile-item]{
  display: block;
    /*border: black 1px solid;*/

}

.profiles-list{
  border: 2px solid black;
  height: 200px;
  overflow-y: scroll;
}

 p{
}

.profile-item{
  margin: 5px;
  margin-left: 10px;
  border-bottom: 1px solid black;
  display: inline-block;
  cursor: pointer;
  text-align: center;

}


.profile-item:hover{
  transition: none;

  background: black;
  color: white;
}
.profile-item:active{
  transition: none;
  /*background: black;*/
  color: goldenrod;
}

.sabian_symbol_table_container{
  overflow-y: scroll;
  max-height: 250px;
  border: 2px solid black;

}

.max-height{
  max-height: 100%;
}
.half-height{
  max-height: 50%;
}
.zero-height{
  max-height: 0%;
}